body 




{
  background-color: lightgray;
  width: 1000px;

  padding: 20px;
}

h1 {
	font-size: 25px;
	color: black;
	text-align:left;

}


}

#Photo
{
padding:20px;
float: left;



}





#ali1 
{

color: green;



}

#ali2{

color:blue;


}

#Photo2
{
padding:20px;
float: left;



}
#gw1
{
	padding:20px;
	width:350px;
	height:375px;

float: right;



}

#gw2
{
float: left;
width:350px;
	height:375px;
	padding:10px;


}
#hobby{

}
p{
padding:20px

}
